<h1> Equipment Show Page </h1>
<br> Equipment Name
<%=@equipment.name%>
<br> Equipment Make:
<%=@equipment.make%>
<br> Machine Type:
<%=@equipment.machine_type%>
<br> Rental Rate (Day) $
<%=@equipment.rental_rate_day%>
<br> Rental Status
<%= @equipment.rented == true ? "On Rent" : ""%> <%= link_to "Check In", rental_check_in_link(@equipment)%>
<br>
<%=link_to "Edit", edit_equipment_path(@equipment)%>

